@model Lab3.Models.PatientDoctors
@{
    ViewBag.Title = "InsertNewPatient";
}

<h2>Insert a new patient for the doctor</h2>

@using (Html.BeginForm("InsertPatientDoctor", "Doctors"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.PatientId, new SelectList(Model.patients, "Id", "Name"),
new { @class = "form-control" })

        @Html.HiddenFor(m => m.doctor.Id)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Add patient to doctor</button>
    </div>
}
